@import "../../style/settings";

.input {
  width: 100%;

  &__label {
    font-size: 9px;
    color: $color-grey;
  }

  &__item {
    border: none;
    border-bottom: 2px solid $color-primary;
    height: 40px;
    width: 100%;
    font-size: 18px;
    outline: 0;
  }

  &__validation {
    font-size: 8px;
    color: $color-red;
    height: 10px;
    margin-bottom: 12px;
  }
}
