<div class="auth">
    <h2>SIGN IN</h2>
    <div class="auth__inputs">
        {{> input type='text' name='Login' placeholder='IvanIvanov'}}
        {{> input type='password' name='Password' placeholder=''}}
    </div>
    {{> button text='SIGN IN'}}
    <a href="/registration" class="auth__link">Create account</a>
</div>
