<div class="auth">
  <h2>SIGN IN</h2>
  <form id="formAuth" action="" class="form-block">
    <div class="auth__inputs">
      {{{ input }}}
    </div>
    {{{ button }}}
  </form>
  <a href="#" class="auth__link">Create account</a>
</div>

