<div class="auth">
  <h2>SIGN IN</h2>
  <form action="" class="form-block">
    <div class="auth__inputs">
        {{{ loginInput }}}
        {{{ passwordInput }}}
    </div>
    {{{ button }}}
  </form>
  <a href="/registration" class="auth__link">Create account</a>
</div>
