<div class="profile">
    <div class="profile__photo">
        <img class="profile__image" src="user.png" alt="userPhoto">
        <h3 class="profile__name">Иван</h3>
    </div>
    <div class="profile__data">
        {{> input type='text' name='first_name' label='First name' value='Ivan' readonly=true}}
        {{> input type='text' name='second_name' label='Second name' value='Ivanov' readonly=true}}
        {{> input type='text' name='login' label='Login' value='IvanIvanov' readonly=true}}
        {{> input type='email' name='email' label='Email' value='ivanov@gmail.com' readonly=true}}
        {{> input type='tel' name='phone' label='Phone' value='+71234567890' readonly=true}}
        {{> input type='text' name='display_name' label='Chat name' value='Иван' readonly=true}}
    </div>
    <div class="profile__links">
        <a class="profile__links-item" href="/profile_edit">Change the data</a>
        <a class="profile__links-item" href="/profile_password">Change the password</a>
        <a class="profile__links-item red" href="/auth">Logout</a>
    </div>
</div>
