<div class="profile-container">
  <div class="profile-container__photo">
    <img class="profile-container__image" src="user.png" alt="userPhoto">
    <h3 class="profile-container__name">Иван</h3>
  </div>
  <div class="profile-container__data">
    {{{ input }}}
  </div>
  <div class="profile-container__links">
    <a class="profile-container__links-item settings" href="#">Change the data</a>
    <a class="profile-container__links-item password" href="#">Change the password</a>
    <a class="profile-container__links-item red" href="#">Logout</a>
  </div>
</div>
