<div class="profile">
    <div class="profile__photo">
        <img class="profile__image" src="user.png" alt="userPhoto">
        <h3 class="profile__name">Иван</h3>
    </div>
    <div class="profile__data">
        {{{ input }}}
    </div>
    <div class="profile__links">
        <a class="profile__links-item" href="/profile_edit">Change the data</a>
        <a class="profile__links-item" href="/profile_password">Change the password</a>
        <a class="profile__links-item red" href="/auth">Logout</a>
    </div>
</div>
