<div class="profile-edit">
  <div class="profile-edit__photo">
      <img class="profile-edit__image" src="user.png" alt="userPhoto">
  </div>
  <form action="" class="profile-edit__form form-block">
    <div class="profile-edit__data">
      {{{ input }}}
    </div>
    <div class="profile-edit__btn">
      {{{ button }}}
    </div>
  </form>
</div>
