<div class="profile-password__photo">
    <img class="profile-password__image" src="user.png" alt="userPhoto">
</div>
<form action="" class="profile-password__form form-block">
  <div class="profile-password__data">
    {{{ input }}}
  </div>
  <div class="profile-password__btn">
    {{{ button }}}
  </div>
</form>
