<div class="profile-password">
    <div class="profile-password__photo">
        <img class="profile-password__image" src="user.png" alt="userPhoto">
    </div>
    <div class="profile-password__data">
        {{> input type='password' name='Old Password' placeholder=''}}
        {{> input type='password' name='New Password' placeholder=''}}
        {{> input type='password' name='Repeat new Password' placeholder=''}}
    </div>
    <div class="profile-password__btn">
        {{> button text='Save'}}
    </div>
</div>
