@import "../../style/settings";

.card {
  display: flex;
  justify-content: space-between;
  height: 70px;
  padding: 10px;
  border-top: 1px solid $color-light-grey;
  border-bottom: 1px solid $color-light-grey;

  &__image {
    height: 70px;
    width: 70px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    padding: 0 10px 0 10px;
    width: 55%;

    &-username {
      font-size: 14px;
      font-weight: 600;
    }

    &-message {
      font-size: 12px;
      color: $color-grey;
      padding-top: 15px;
    }
  }

  &__meta {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: space-between;
    width: 15%;

    &-date {
      font-size: 12px;
      color: $color-grey;
    }

    &-unread {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $color-primary;
      color: $color-white;
      border-radius: 50%;
      font-size: 12px;
      height: 25px;
      width: 25px;
    }
  }

  &:hover {
    cursor: pointer;
    background-color: $color-light-blue;
  }
}
