$color-primary: #3369F3;    // главный цвет - синий
$color-red: #FF0000;        // красный цвет
$color-white: #FFFFFF;      // белый цвет
$color-grey: #999999;       // серый цвет
$color-light-grey: #EAEAEA; // светло-серый цвет
